.listArea {
    width: 500px;
    margin: 0 auto;
}

input {
    margin-top: 20px;
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
    width: 100%;
}

.list li {
    padding: 5px;
    margin-top: 5px;
    background-color: goldenrod;
    border-radius: 5px;
}
.list li span {
    display: block;
}
.list li span.name {
    float: left;
}
.list li span.phone {
    float: right;
}
.list li span.clearfix {
    clear: both;
}